# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/*.iml
android/.idea/

# iOS
ios/.symlinks/
ios/Pods/
ios/.generated/

# IDE
.idea/
*.iml
.vscode/

# Misc
.DS_Store
*.log
